*{
    padding: 0;
    margin: 0;
}

.carousel-item{
    position: relative;
    height: 520px;
    width: 500px;
    left: 400px;
    top: 70px;
}

.carousel-control-next{
    color: rgb(14, 13, 13);
    position: relative;
    left:880px;
    top:-270px;
    font-size: 20px;
}
.carousel-control-next-icon{
    background-color: black;
    border-radius: 5px;
}
.carousel-control-prev-icon{
    background-color: black;
    border-radius: 5px;
}
.carousel-control-prev{
    color: red;
    position: relative;
    left:270px;
    top:-240px;
    font-size: 30px;
}


.carousel-inner{
    background-color: rgb(202, 199, 196);
    opacity: 0.9;
    width: 1100px;
    border-radius: 20px;
    height: 590px;
    align-items: center;
    position: relative;
    top: 60px;
    left: 130px;

}

.imgOne{
    position: relative;
    height: 350px;
    width: 400px;
    right: 50px;
}
.imgTwo{
    position: relative;
    height: 350px;
    width: 400px;
    right: 50px;
}
.imgThree{
    position: relative;
    height: 350px;
    width: 400px;
    right: 50px;
}


.caption{
    position: relative;
    right:100px;
    top:-30px;
    color: black;
}
.caption1{
    position: relative;
    top: -25px;
    color: black;
    right: 90px;
}
.caption2{
    position: relative;
    right:100px;
    top:-30px;
    color: black;
}
.captionTwo{
    position: relative;
    right:100px;
    top:-30px;
    color: black;
}
.caption3{
    position: relative;
    color: black;
    right:100px;
    top:-30px;
}
.captionThree{
    position: relative;
    right:100px;
    color: black;
    top:-30px;
}
.caption4{
    position: relative;
    right:100px;
    color: black;
    top:-30px;
}
.captionFour{
    position: relative;
    right:100px;
    top:-30px;
    color: black;
}
.caption5{
    position: relative;
    right:100px;
    top:-30px;
    color: black;
}
.captionFive{
    position: relative;
    right:100px;
    color: black;
    top:-30px;
}
.caption6{
    position: relative;
    right:100px;
    top:-30px;
    color: black;
}
.captionSix{
    position: relative;
    right:100px;
    top:-30px;
    color: black;
}
.project{
    position: relative;
    text-align: center;
    font-size: 35px;
    top: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #413939;
}

body{
    background-image: url(./img/bg.jpg);
    background-repeat: repeat;
    background-size: cover;
}

.audio{
    position: relative;
    right: -150px;
    top: 30px;
}
